<footer class="footer_widgets"> 
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">

                                <ul>
                                    <li><a href="#">Delivery</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#"> Secure payment</a></li>
                                    <li><a href="contact.html"> Contact Us</a></li>
                                    <li><a href="#"> Sitemap</a></li>
                                    <li><a href="#"> Stores</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>Custom Links</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Legal Notice</a></li>
                                    <li><a href="#">  Prices dro</a></li>
                                    <li><a href="#">New products</a></li>
                                    <li><a href="#">Best sales</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="my-account.html"> My account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>My Account</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Personal info</a></li>
                                    <li><a href="#"> Orders</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="#">Credit slips</a></li>
                                    <li><a href="#">Addresses</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>Follow us on</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>   Twitter</a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>  Google +</a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-12">
                        <div class="widgets_container widget_newsletter">
                            <h3>Subscribe</h3>
                            <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</p>
                            <div class="subscribe_form">
                                <form id="mc-form" class="mc-form footer-newsletter" >
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="Your email address" />
                                    <button id="mc-submit"><i class="icon-arrow-right-circle icons"></i></button>
                                </form>
                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                </div><!-- mailchimp-alerts end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">  
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright  © 2020  <a href="index.html">Bonique</a>.  <a href="https://hasthemes.com/" target="_blank">All rights reserved.</a></p>
                        </div>
                    </div>    
                    <div class="col-lg-6 col-md-6">    
                        <div class="footer_payment text-right">
                            <a href="#"><img src="assets/img/icon/payment.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>     
        </div>      
    </footer>