{% extends 'base.html' %}

{% block 'title' %} Cosmetics - Login {%endblock%}

{% block 'includes' %} 
{% include 'partials/_navbar_2.html' %}   
{% endblock %}

{% block 'content' %}
<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>

<div class="customer_login">
        <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <h1 class="display-4">Log into your account</h1>
                  <form method="POST" action="">
                    {% include 'partials/_message.html' %}
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" name="username" placeholder="Username" id="username" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" name="password" placeholder="******" id="password" class="form-control">
                      </div>
                      <div class="form-group">
                          <button type="submit" name="submit" class="btn btn-primary">Log in</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>    
    </div>
{% endblock %}
