{% extends 'base.html' %}

{% block 'title' %} Cosmetics - Registration {%endblock%}

{% block 'includes' %} 
{% include 'partials/_navbar_2.html' %}   
{% endblock %}

{% block 'content' %}
<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>

<div class="customer_login">
        <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <h1 class="display-4">How would you like register</h1>
                  <form method="POST" action="">
                    {% include 'partials/_message.html' %}
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="name">First Name</label>
                          <input type="text" name="name" placeholder="Name" id="name" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="surname">Last Name</label>
                          <input type="text" name="surname" placeholder="Surname" id="surname" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" name="username" placeholder="Username" id="username" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" name="email" placeholder="Email" id="email" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" name="password" placeholder="******" id="password" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="password2">Confirm Password</label>
                          <input type="password" name="password2" placeholder="******" id="password2" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="type">Type</label>
                          <select id="type" name="type" class="form-control">
                              <option value="0">Customer</option>
                              <option value="1">Store</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <button type="submit" name="submit" class="btn btn-primary">Register</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>    
    </div>
{% endblock %}
