{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block 'title' %}{% endblock %}</title>
    {% block 'seo' %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--owl carousel min css-->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!--slick min css-->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <!--magnific popup min css-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!--font awesome css-->
    <link rel="stylesheet" href="{% static 'css/font.awesome.css' %}">
    <!--ionicons css-->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <!--simple line icons css-->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!--animate css-->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!--jquery ui min css-->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!--slinky menu css-->
    <link rel="stylesheet" href="{% static 'css/slinky.menu.css' %}">
    <!--plugins css-->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!--modernizr min js here-->
    <script src="{% static 'js/modernizr-3.7.1.min.js' %}"></script>
</head>

<body>
   
    <!--header area start-->
    
    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay">
                
    </div>
    <div class="offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="icon-menu"></i></a>
                    </div>
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div>
                        {% include 'partials/_header.html' %}
                        
                        {% include 'partials/_navbar.html' %}
                        <div class="offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--offcanvas menu area end-->
    
    {% block 'includes' %}{% endblock %}  

    {% block 'content' %}
    {% endblock %}


    <!--shipping area start-->
    <div class="shipping_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="icon-call-out icons"></i>
                        </div>
                        <div class="shipping_content">
                            <h3><a href="tel:{{ info.phone }}">{{ info.phone }}</a></h3>
                            <p>/ Phone</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                           <i class="icon-location-pin icons"></i>
                        </div>
                        <div class="shipping_content">
                            <h3>{{ info.address }}</h3>
                            <p>/ Address</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col3">
                        <div class="shipping_icone">
                            <i class="icon-envelope icons"></i>
                        </div>
                        <div class="shipping_content">
                            <h3><a href="mailto:{{ info.email }}">{{ info.email }}</a></h3>
                            <p>/ Email</p>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <!--shipping area end-->

    <!--footer area start-->
    {% include 'partials/_footer.html' %}
    <!--footer area end-->
   
    <!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="ion-android-close"></i></span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">  
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" >
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/productbig1.jpg" alt=""></a>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/productbig2.jpg" alt=""></a>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/productbig3.jpg" alt=""></a>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="assets/img/product/productbig4.jpg" alt=""></a>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">    
                                        <ul class="nav product_navactive owl-carousel" role="tablist">
                                            <li >
                                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="assets/img/product/product2.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                 <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="assets/img/product/product10.jpg" alt=""></a>
                                            </li>
                                            <li>
                                               <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="assets/img/product/product5.jpg" alt=""></a>
                                            </li>
                                            <li>
                                               <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="assets/img/product/product4.jpg" alt=""></a>
                                            </li>

                                        </ul>
                                    </div>    
                                </div>  
                            </div> 
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Donec Ac Tempus</h2> 
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>    
                                        <span class="old_price" >$78.99</span>    
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>    
                                    </div> 
                                    <div class="variants_selects">
                                        <div class="variants_size">
                                           <h2>size</h2>
                                           <select class="select_option">
                                               <option selected value="1">s</option>
                                               <option value="1">m</option>
                                               <option value="1">l</option>
                                               <option value="1">xl</option>
                                               <option value="1">xxl</option>
                                           </select>
                                        </div>
                                        <div class="variants_color">
                                           <h2>color</h2>
                                           <select class="select_option">
                                               <option selected value="1">purple</option>
                                               <option value="1">violet</option>
                                               <option value="1">black</option>
                                               <option value="1">pink</option>
                                               <option value="1">orange</option>
                                           </select>
                                        </div>
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="1" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>   
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>    
                                    </div>      
                                </div>    
                            </div>    
                        </div>     
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!-- modal area end-->

    
<!-- JS
============================================ -->
<!--jquery min js-->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!--popper min js-->
<script src="{% static 'js/popper.js' %}"></script>
<!--bootstrap min js-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--owl carousel min js-->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!--slick min js-->
<script src="{% static 'js/slick.min.js' %}"></script>
<!--magnific popup min js-->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!--counterup min js-->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!--jquery countdown min js-->
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<!--jquery ui min js-->
<script src="{% static 'js/jquery.ui.js' %}"></script>
<!--jquery elevatezoom min js-->
<script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
<!--isotope packaged min js-->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!--slinky menu js-->
<script src="{% static 'js/slinky.menu.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>



</body>

</html>