{% extends 'base.html' %}

{% block 'title' %} Cosmetics | Home {%endblock%}

{% block 'includes' %} 
{% include 'partials/_header.html' %}   
{% endblock %}

{% block 'content' %}

<!--slider area start-->
    <section class="slider_section slider_s_three">
        <div class="slider_area owl-carousel">
            {% for slide in slider %}
            <div class="single_slider d-flex align-items-center" data-bgimg="{{ slide.image.url }}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content slider_c_three">
                                <h2>{{ slide.headline2 }}</h2>
                                <h1>{{ slide.headline1 }}</h1>
                                <p>
								{{ slide.description }}
							     </p>
                                <a href="{{ slide.url }}">+ Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--slider area end-->

    <!--categories product area start-->
    <div class="categories_product_aera mb-95">
        <div class="container-fluid">
            <div class="row">
                <div class="categories_container categories_column6 owl-carousel">
                	{% for category in categories %}
                    <div class="col-lg-2">
                        <div class="single_categories">
                            <div class="categories_product_thumb">
                                <a href="shop.html"><img src="{{ category.image.url }}" alt=""></a>
                            </div>
                            <div class="categories_product_text">
                                <h3><a href="shop.html">{{ category.title }}</a></h3>
                                <span>/ 13 items</span>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--categories product area end-->

    <!-- Ads -->
    <div class="banner_aera banner_style_three mb-95">
        <div class="container-fluid">
            <div class="row">
            	{% for ad in ads %}
                <div class="col-lg-6 col-md-6">
                    <div class="banner_thumb">
                        <a href="{{ ad.url }}"><img src="{{ ad.image.url }}" alt=""></a> 
                        <div class="banner_text">
                            <h3>{{ ad.title }}</h3>
                            <p>{{ad.description}}</p>
                        </div>
                    </div>   
                </div>
                {% endfor %}
            </div>
        </div>
    <div></div></div>

    <!-- Featured Products -->
    <!--product area start-->
    <div class="product_area  mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                       <h2>Featured products </h2>
                       <p>Add our new arrivals to your weekly lineup</p>
                    </div>
                </div>
            </div> 
            <div class="row">
               <div class="product_carousel product_column4 owl-carousel">
                   {% for p in pro %}
                   <div class="col-lg-3">
                        <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="product-details.html"><img src="{{ p.image_main.url }}" alt=""></a>
                                        <a class="secondary_img" href="product-details.html"><img src="{{ p.image_2.url }}" alt=""></a>
                                        {% if p.has_discount %}
                                        <div class="label_product">
                                            <span class="label_sale">-{{ p.discount_rate }}%</span>
                                        </div>
                                        {% endif %}
                                        <div class="action_links">
                                            <ul>
                                                <li class="wishlist"><a href="wishlist.html" title="Add to Wishlist"><i class="icon-heart icons"></i></a></li> 
                                                <li class="compare"><a href="#" title="Add to Compare"><i class="icon-refresh icons"></i></a></li>
                                                <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> <i class="icon-magnifier-add icons"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <figcaption class="product_content">
                                        <h4 class="product_name"><a href="product-details.html">{{ p.title }}</a></h4>
                                        <div class="price_box"> 
                                            <span class="old_price">${{ p.price }}</span>
                                            {% if p.has_discount %}
                                            <span class="current_price">${{ p.discount_rate }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="add_to_cart">
                                            <a href="cart.html">+ Add to cart</a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                   </div>
                   {% endfor %}
               </div>
           </div>   
        </div> 
    </div>
    <!--product area end-->
   
   <!--blog area start-->
    <section class="blog_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                       <h2>From Our Blog</h2>
                       <p>There are latest blog posts </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog_carousel blog_column3 owl-carousel">
                    {% for post in posts %}
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="blog-details.html"><img src="{{ post.image.url }}" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                   <h4 class="post_title"><a href="blog-details.html">{{ post.title }}</a></h4>
                                   <p>Posted by {{ post.user.first_name }} <span>{{ post.created_at }}</span></p>
                                   <footer class="blog_footer">
                                        <a href="blog-details.html">+ Read More</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    <!--blog area end-->

{% endblock %}
